<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forgot Password</title>
  <link href="style.css" rel="stylesheet">
</head>
<body>
  <section id="forgotPassword-section">
    <div class="forgotPassword-container">
      <form action="">
        <h2 id="forgotPassword-container-h2">Forgot Password?</h2>
        <div class="forgotPassword-input-container">
          <p id="forgotPassword-input-p">Lorem ipsum dolor sit amet consectetur, adipisicing elit. illo vel ut reprehenderit vero modi dolores incidunt soluta beatae.</p>
          <label id="forgotPassword-input-label">Email</label>
          <input id="forgotPassword-input-input" type="inputEmailText" placeholder="Enter Email" required>
        </div>
      </form>
      <button  href="#" class="forgotPassword-send-new-password-button">Send new password</button>
    </div>
  </section>
</body>
</html>
