<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="style.css" rel="stylesheet">
</head>
<body>
  <section id="signUp-section">
    <form action="">
      <div class="signUp-container">
        <h1 id="signUp-container-h1">Register</h1>
        <p id="signUp-container-p">Please fill in this form to create an account.</p>
        <hr id="signUp-container-hr">

        <label id="signUp-container-label" for="email"><b>Email</b></label>
        <input type="emailtext" placeholder="Enter Email" name="email" id="email" required>

        <label id="signUp-container-label" for="psw"><b>Password</b></label>
        <input type="passwordtext" placeholder="Enter Password" name="psw" id="psw" required>

        <label id="signUp-container-label" for="psw-repeat"><b>Repeat Password</b></label>
        <input type="passwordtext" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required>
        <hr>

        <p id="signUp-container-terms-privacy">By creating an account you agree to our <a id="signUp-container-terms-privacy-a" href="#">Terms & Privacy</a>.</p>
        <button type="submit" class="signUp-container-registerbtn">Register</button>
      </div>

      <div class="signUp-container-signIn-container">
        <p id="signUp-container-signIn-container-p">Already have an account? <a id="signUp-container-signIn-container-a" href="signin.html">Sign in</a>.</p>
      </div>
    </form>
  </section>
</body>
<body class="footer-body">
  <footer>
    <div class="footer-container">
      <div class="about-us-container">
        <h2 class="footer-h2">About Us</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut incidunt ratione quia? Mollitia, explicabo, error quae non dolorem nulla reiciendis molestiae exercitationem accusamus, quasi id omnis voluptate debitis voluptatibus quam.</p>
        <ul class="footer-ul">
          <li><a href="https://www.facebook.com"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a href="https://x.com"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="https://www.instagram.com"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          <li><a href="https://www.youtube.com"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
        </ul>
      </div>
      <div class="quicklink-container">
        <h2>Quick Links</h2>
        <ul class="quicklink-ul">
          <li><a href="#">About</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Help</a></li>
          <li><a href="#">Terms $ Conditions</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div class="Shop-container">
        <h2>Shop</h2>
        <ul class="shop-ul">
          <li><a href="#">Menu</a></li>
          <li><a href="#">Kartta</a></li>
          <li><a href="#">lorem</a></li>
          <li><a href="#">lorem</a></li>
        </ul>
      </div>
      <div class="contact-container">
        <h2>Contact Us</h2>
        <ul class="info">
          <li>
            <span><i class="fa fa-map-marker" aria-hidden="true"></i></span>
            <span>Helsinginkatu 1<br>
              00010, Helsinki<br>FIN</span>
          </li>
          <li>
            <span><i class="fa fa-phone" aria-hidden="true"></i></span>
            <p><a href="tel:+358123123123">+358 123 123 123</a><br>
              <a href="tel:+358123123123">+358 123 123 123</a></p>
          </li>
          <li>
            <span><i class="fa fa-envelope" aria-hidden="true"></i></span>
            <p><a href="mailto:fakemail@fake.com">fakemail@fake.com</a></p>
          </li>
        </ul>
      </div>
    </div>
  </footer>
</body>
</html>
